* {
 margin: 0;
 padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh;
    justify-content: space-around;

}

#shell {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    width: 700px;
    height: 750px;
    background-color: red;
    border-style: solid;
    border-color: red;
    border-radius: 20px;
}

#dial1, #dial2 {
    border-color: white;
    border-style: solid;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: white;
}

#dial1 {
    margin-right: auto;
}

#dial2 {
    margin-left: auto;
}

button {
    height: 30px;
}

#navBar {
    display: flex;
    width: 90%;
    border-style: solid;
    gap: 15px;
    justify-content: center;
    margin: 25px;
    align-items: center;
}

#grid {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    
    
    justify-content: center;
    align-content: center;
    background-color: silver;
}

.pixel {
    width: 6px;
    height: 6px;
    
}

